.container {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 5%;
    
    
}
ul {
    display: flex;
    list-style-type: none;
    gap: 25px;
}
.introduction {
    display: flex;
    flex-direction: column;
    flex:1;
    max-width: 400px;
    
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    flex: auto;
    padding: 20px 15% 80px 15%;
}
.sherriff {
    width: 400px;
    height:auto;
    border-radius: 10px;
    border: groove black 3px;
    
}
.signature {
    height: 50px;
    width: 80px;
    align-self: center;
    margin-top: 20px;
}
h1 {
    margin-bottom: -10px;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;    
}

.introduction, ul {
    font-size: 18px;
    color: #e5e7eb;
}

.top {
    background-color: #1f2937;
    

    
}

/*Top ^   Middle v*/

.middle {
    text-align: center;
    padding-top: 60px;
}
.pictures {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 50px;
}

.pic1, .pic2, .pic3, .pic4 {
    width: 150px;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex: auto;
}
.box {
    max-width: 150px;
    font-size: 12px;
    
}
.mid-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

/*QUOTE*/

.quotesec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 50px;
}
.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    width: 700px;
    font-weight: lighter;
}
